.container {
  background-color: #161627;
  padding: 2rem;
  flex-basis: 50%;
  flex-grow: 0;
}

.navigator {
  background-color: #53759b;
  padding: .5rem 2rem;
  margin: .3rem -2rem;
}

.navigator h1 {
  font-size: 4em;
  font-weight: 300;
  color: #dffbfb;
  text-align: center;
}

.navigatorbuttons{
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigatorbuttons > * {
  flex: 1 1 0;
}

.main {
  background-color: #161627;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main p{
  font-size: 1em;
  color: #dffbfb;
}

.main h1{
  font-size: 2em;
  color: #dffbfb;
}

.container2{
  background-color: #e9e9f5;
  padding: 2rem 4rem;
  border-radius: 25px;
}

.container2 h1{
  font-size: 3em;
  font-weight: 400;
  color: #0b206f;
}

.container2 p{
  font-size: 1.3em;
  font-weight: 300;
  color: #000000;
}

.Image{
  border-radius: 25px;
}

.container3{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.container i{
  text-align: right;
  position: absolute;
  font-style: italic;
  font-size: 1em;
  font-weight: 200;
  color: #37223e;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 3rem -2rem;
  padding: 1rem;
  background-color: #53759b;
}

.footer p{
  text-align: center;
  font-size: 1em;
  margin: .4rem 4rem;
  color: #000000;
}

.footer a{
  font-size: 1em;
  margin: .4rem 4rem;
  color: #a8fbff;
}
