.button {
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 1.8em;
	padding: 0.6em 1em;
	margin: 0.8em 1em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
	background-color: #916BBF;
	border-radius: 20px;
}

.button a:hover{
	text-decoration: none;
}

/* @media screen and (max-aspect-ratio: 1/1) {
	.button {
		font-size: 1.7em;
		padding-left: 60vw;
	}
} */